/* 01. Box Model - display */
/* section{
    border: 2px solid black;
    padding: 1em, 2em;
    margin: 2em;
}
section p{
    border: 1px solid #ccc;
    padding: 1em;
}
.block p{
    display: block;
}
.inline p{
    display: inline;
}
.inline-block{
    display: inline-block;
} */


/* 02. Box Model – padding */
/* div{
    border: 2px solid black;
    padding: 1em 2em;
    margin: 1em;
}
.first-element{
    padding: 20px;
}
.second-element{
    padding: 10px 30px 20px 40px;
}
.third-element{
    padding: 5%;
} */

/* 03. Box Model – margin */
/* div{
    border: 2px solid black;
    padding: 1em 2em;
    margin: 1em;
}
.first-element{
    margin: 20px;
}
.second-element{
    margin: 10px 30px 20px 40px;
}
.third-element{
    margin: -20px;
} */

/* 04. Box Model – width */
/* div{
    border: 2px solid black;
    padding: 1em 2em;
    margin: 1em;
}
.fixed{
    width: 300px;
}
.percentage{
    width: 50%;
}
.viewport{
    width: 50vw;
}
.min-max{
    min-width: 100px;
    max-width: 300px;
} */

/* 05. Box Model – height */
/* div{
    border: 2px solid black;
    padding: 1em 2em;
    margin: 1em;
}
.fixed{
    height: 200px;
}
.percentage{
    height: 50%;
}
.viewport{
    height: 50vh;
}
.min-max{
    min-height: 100px;
    max-height: 300px;
} */

/* 06. Box Model – border */
/* div{
    padding: 1em 2em;
    margin: 1em;
}
.solid{
    border: 4px solid black;
}
.dashed{
    border: 3px dashed #333;
}
.dotted{
    border: 2px dotted #666;
}
.mixed{
    border-top: 3px dashed #333;
    border-bottom: 3px dashed #333;
    border-left: 4px solid #000;
    border-right: 4px solid #000;
} */

/* 07. Box Model – box-sizing */
/* div{
    width: 300px;
    padding: 20px;
    border: 5px solid #333;
    margin-bottom: 20px;
    background: #eee;
}
.content{
    box-sizing: content-box;
}
.border{
    box-sizing: border-box;
} */

/* 08. Box Model - overflow */
/* div{
    width: 300px;
    padding: 20px;
    border: 3px solid #333;
    margin-bottom: 20px;
    height: 100px;
}
.visible{
    overflow: visible;
}
.hidden{
    overflow: hidden;
}
.scroll{
    overflow: scroll;
} */

/* 09. Font Properties */
/* div{
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
}
.family p{
    font-family: Arial, sans-serif;
}
.size p{
    font-size: 24px;
}
.weight p{
    font-weight: bold;
}
.style p{
    font-style: italic;
}
.variant p{
    font-variant: small-caps;
} */

/* 10. Reset CSS */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
} */

/* 11. Typography CSS */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}
p, ol, ul{
    padding-bottom: 1.5rem;
}
ol, ul{
    padding-left: 1.5rem;
}
h1, h2, h3, h4, h5, h6{
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5;
    font-family: Georgia;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(216, 209, 209);
    width: 33.33%;
    padding: 10px;
}

thead {
    text-align: left;
    background: #ccc;
}
tbody > tr:nth-child(odd){
    background: #ebebeb;
}
blockquote{
    margin-left: 30px;
    padding-left: 20px;
    border-left: 3px solid #ccc;
    font-style: italic;
    position: relative;
}
blockquote cite{
    display: block;
    margin-top: 10px;
    text-align: right;
}